.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.82);

  padding-bottom: 6px;
  padding-top: env(safe-area-inset-top);
}

.inner {
  padding: 0 16px;
}

.titleLarge {
  font-size: 34px;
  font-weight: 700;
}

.titleSmall {
  font-size: 17px;
  font-weight: 600;
  padding: 12px 0;
}
 
